# Node modules
node_modules/*
backend/node_modules

# Virtual environment
agilecompenv/*

# Scraped text files
models/fastText_demo_model/*.txt

# Fasttext model
models/fastText_demo_model/model.fasttextmodel

# macOS DS_Store files
**/.DS_Store

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# dbs logs
backend/mongodata/journal

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vs/

external/