* {
  box-sizing: border-box;
}

.pairBoxes {
    width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: left;
  transform: translate(-50%, 00%);
}

.personalBoxView {
   float: left;
   width: 50%;
}

.tagBoxView {
    float: left;
    width: 50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Light", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
    display: inline-block;
    background-color: #266df0;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 18px;
    border-color: #266df0;
}

.react-datepicker__navigation {
    margin-left: 10%;
    margin-right: 10%;
}

#descriptionBox {
    height: 100px;
}

.navbar-icon {
  margin-right: 8px;
  opacity: 0.8;
  border-radius: 30%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
}

.navbar-brand:hover .navbar-icon {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.navbar {
  -webkit-box-shadow: 0 4px 18px -12px #bbb;
  -moz-box-shadow: 0 4px 18px -12px #bbb;
  box-shadow: 0 0px 8px -4px #888;
}














.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
