* {
  box-sizing: border-box;
}

.pairBoxes {
    width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: left;
  transform: translate(-50%, 00%);
}

.personalBoxView {
   float: left;
   width: 50%;

}

.tagBoxView {
    float: left;
    width: 50%;
}

button {
    display: inline-block;
    background-color: #266df0;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 18px;
    border-color: #266df0;
}

.react-datepicker__navigation {
    margin-left: 10%;
    margin-right: 10%;
}

#descriptionBox {
    height: 100px;
}
















.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
